* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 95vh;
}

.dots {
  position: absolute;
  width: auto;
  box-shadow: none;
  top: 40%;
  z-index: 5;
}

p {
  position: relative;
  top: 18%;
  padding-top: 25px;
  text-align: center;
}

.question{
  padding-left: 20px;
  top: 10%;
  text-align: left;
}